html{
    zoom: 400%;
}
#button01,#button04,#button07{
    width: 30px; 
    height:30px;
    margin:0; 
    padding:10px;
    left: 37px;
    position:absolute;
    color:rgb(7, 53, 161);
    
}
#button02,#button05,#button08{
    width: 30px; 
    height:30px; 
    margin:0; 
    padding:10px; 
    left: 72px;
    position:absolute;
    color:rgb(7, 53, 161);
}
#button03,#button06,#button09{
    width: 30px;
    height:30px; 
    margin:0; 
    padding:10px; 
    left: 108px;
    position:absolute;
    color:rgb(7, 53, 161);
}
#button10{
    width: 22%;
    margin-left: 6%;
    margin-right: 6%   
}
#text{
    color:green !important;
    width: 22%;
    margin-left: 6%;
    margin-right: 6%;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    
}